{% load static %}
<html>
<header>
    <link rel="stylesheet" href="{% static '/site.css' %}">
      <title>mahdi eshghi django </title>
</header>
    <body>
<div class="navbar">
    <div>
      <button class="nav-button"><a href="{% url 'index' %}">HOME</a></button>
      <button class="nav-button" ><a href="{% url 'login' %}">Login</a> </button>
      <button class="nav-button" ><a href="{% url 'aboutus' %}">about us</a> </button>

    </div>
    <div>
    </div>
  </div>
<br>
<br>
    {% block content %}

    {% endblock %}

    </body>

</html>