{% extends "mainapp/_layout.html" %}
{% block content %}
<br>
  <body>
  <div class="box">
    <h1 class="title">About Us</h1>
    <p>Welcome to our website! We are a team of dedicated professionals, committed to providing the best service possible.</p>
    <h2>Contact Us</h2>
    <p>Email: <a href="mailto:mahdi.e.mef@gmail.com">mahdi.e.mef@gmail.com</a></p>
    <p>Address: IRAN Mashhad </p>
    <h2>About Me</h2>
    <p>My name is Mahdi and I am a highly skilled professional with experience in the field of django. I have a proven track record of success and am always looking for new challenges.</p>
    <p>My resume can be found <a href="https://www.mahdimef.ir">here</a>.</p>
  </div>
  </body>
{% endblock %}