body {
      background-color: white;
    }
    /* CSS for fixed navigation bar */
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 50px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
    /* CSS for navigation buttons */
    .nav-button {
      background-color: #f2f2f2;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-right: 10px;
    }


